@import "bootstrap/dist/css/bootstrap";

.search-area {
  padding-top: 50px;
}

.results-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
