<% if notice %>
  <div class="alert alert-info" role="info-message">
    <a href="#" class="close" data-dismis="info-message">&#215</a>
    <%= notice %>
  </div>
<% end%>
<% if alert %>
  <div class="alert alert-danger" role="alert-message">
    <a href="#" class="close" data-dismis="alert-message">&#215</a>
    <%= alert %>
  </div>
<% end%>
